<header>
  <nav>
    <div class="navbar">
      <div class="app-info">
        <img class="app-logo" src="https://github.com/creynolds8/Midterm-Project/blob/feature/new-color/doc/bee_logo-removebg-preview.png?raw=true">
        <p class="app-name">BeeSecure</p>
      </div>
      <% if (userId) { %>
        <h2><%= orgName %></h2>
      <% } %>

      <% if (userId) { %>
        <div class="log-button">
          <form method="post" action="/logout">
            Logged in as: <%= userName %>
            <button type="submit" class="nav-button">Logout</button>
          </form>
        </div>
          <% } else { %>
            <div class="log-button">
              <button class="nav-button">Login</button>
            </div>
      <% } %>
    </div>
  </nav>
</header>
