<header>
  <nav>
    <div class="navbar">
      <div class="app-info">
        <img class="app-logo" src="https://www.talk-english.co.uk/wp-content/uploads/2018/05/Padlock-symbol.png">
        <a class="app-name" href="/accounts">PASSWORD KEEPER!</a>
      </div>

      <% if (!true) { %>
        <h3>ORGANIZATION NAME</h3>
      <% } %>

      <% if (!true) { %>
        <div class="log-button">
          Logged in as: dev
          <button class="nav-button">Logout</button>
        </div>
          <% } else { %>
            <div class="log-button">
              <button class="nav-button">Login</button>
            </div>
      <% } %>
    </div>
  </nav>
</header>
