<header>
  <nav>
    <div class="navbar">
      <div class="app-info">
        <img class="app-logo" src="https://www.talk-english.co.uk/wp-content/uploads/2018/05/Padlock-symbol.png">
        <p class="app-name">PASSWORD KEEPER</p>
      </div>

      <% if (userId) { %>
        <h2><%= orgName %></h2>
      <% } %>

      <% if (userId) { %>
        <div class="log-button">
          <form method="post" action="/logout">
            Logged in as: <%= userName %>
            <button type="submit" class="nav-button">Logout</button>
          </form>
        </div>
          <% } else { %>
            <div class="log-button">
              <button class="nav-button">Login</button>
            </div>
      <% } %>
    </div>
  </nav>
</header>
