<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/accounts.css" />
  <link rel="stylesheet" href="/styles/footer.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script type="module" defer src="/scripts/copytext.js"></script>
  <script type="module" defer src="/scripts/copy_to_clipboard.js"></script>
  <script type="text/javascript" src="/scripts/create-account-element.js"></script>
  <script type="text/javascript" src="/scripts/category-create-account-elements.js"></script>
  <title>Accounts</title>
</head>

<header><%- include('partials/_navbar') %></header>

<body>
<div class="outer-div">

  <section class="categories">
    <div class="categories-header">
      <h2>Categories</h2>
    </div>
    <p onclick="loadAccountsByCategory(1)">Social Media</p>
    <p onclick="loadAccountsByCategory(2)">Financial</p>
    <p onclick="loadAccountsByCategory(3)">Email</p>
    <p onclick="loadAccountsByCategory(4)">Cloud Storge</p>
    <p onclick="loadAccountsByCategory(5)">Product Management</p>
    <p onclick="loadAccountsByCategory(6)">Project Management</p>
    <p onclick="loadAccountsByCategory(7)">Entertainment</p>
    <p onclick="loadAccountsByCategory(8)">Security</p>
  </section>
  <section class="main-accounts">

      <h2>Accounts</h2>
      <a href="/createnewaccount">
        <button class="account-button">CREATE NEW ACCOUNT</button>
      </a>

    <table>
      <thead>
        <tr>
          <th>website</th>
          <th>username</th>
          <th>copy username</th>
          <th>password</th>
          <th>copy password</th>
          <th>edit</th>
        </tr>
      </thead>
      <tbody id="accounts"></tbody>
    </table>
  </section>
</div>
</body>

<footer><%- include('partials/_footer') %></footer>

</html>
