body {
  background: #f9fbfb;
}

.outer-div {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 100vh;
  position: relative;
  margin-bottom: 5vh;
}

.category-names {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid;
  height: fit-content;
  background-color:#f9fbfb;
}

.categories-header {
  text-align: center;
  width: 100%;
}

.categories p {
  border-bottom: 4px solid;
  margin: 0.5rem;
  padding-bottom: 0.2rem;
  background-color: #FCD615;
  padding: .5rem;
  border-radius: 8px;
}

.category-name:hover {
  cursor: pointer;
  text-shadow: 1px 1px 6px black;
}

.main-accounts {
  width: 70vw;
}

.accounts-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#accounts {
  border: 4px solid;
  padding: 0.5rem;
}

article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 4px solid;
  padding: 0.5rem;
  margin: 0.5rem;
}

.account-button {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid;
  border-radius: 0.5rem;
}

.account-button:hover {
  box-shadow: 6px 6px 8px;
  background-color: #FCD615;
  cursor: pointer;
}

a, u {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f9fbfb;

}

tr {
  border: 4px solid;
}

th {
  padding: 0.5rem;
}

.web-logo{
 max-width: 50px;
 padding-right: .5rem;
}

th.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
  padding-left: 1.5rem;
  width: fit-content;
}
thead {
  background-color: #FCD615;
}

th.website {
text-align: left;
}
