body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  min-height: 100vh;
  background: slategrey;
}

.outer-div {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }

.password-selector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: solid;
  border-width: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.password-checkbox {
  padding: 0.8rem;
}

.create-account-form {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 4px;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.account-form {
  margin: 1rem;
}

.create-account-button {
  margin: 0.5rem;
}

table {
  text-align: left;
}

td {
  padding: 0.5rem;
}
