body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
}

.main-content {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

#web-name {
  text-shadow: 0px 0px 8px #FCD615;
}

.blurb {
  width: 50vw;
  font-size: 1.25rem;
}
