body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: slategrey;
}

.main-content {
  margin-top: auto;
}
.blurb {
  width: 50vw;
}
