.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
}

.app-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.app-logo {
  padding-right: 1rem;
  width: 10vw;
}

.log-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.log-button button {
  margin-left: 1rem;
}
