nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: darkslategrey;
  color: azure;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.app-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.app-logo {
  padding-right: 1rem;
  width: 10vw;
}

.log-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.log-button button {
  margin-left: 1rem;
}
