.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.app-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.app-logo {
  width: 10vw;
}
